header{
  display:block;
  /*o header precisa ser display:block para funcionar o efeito particles */
} 


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #d5ab92;
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
